header{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background-color: #3e1688;
    border-bottom: 10px solid #000;
    padding: 10px 20px;
}


img{
    box-shadow: 5px 5px 2px black;
}


nav{
    text-align: right;
}


a{
    display: inline-flex;
    align-items: center;
    color: goldenrod;
    font-size: 20px;
    font-family: "Fira Code", Arial, Helvetica, sans-serif;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
}

a:hover{
    color: #75ffa5;
}

a::before{
    content: "";
    background-color: goldenrod;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}


#button{
    display: inline-block;
    background-color: #1f4e60;
    padding: 18px 20px;
    box-shadow: 5px 5px 0px black;
    margin-right: 0px;
}
