.banner{
	background-image: url(../../assets/imgs/pepeimage.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 780px;
	border-bottom: 10px solid #000;
	
}

.banner .wrapper{
	display: flex;
	flex-direction: column;
	width: 640px;
	padding-left: 90px;
	padding-top: 120px;
}

.banner .box{
	margin-bottom: 40px;
}

.banner .navigation{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}